html, body {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1c1117;
  text-align: center;
}

canvas {
  height: 100vh;

  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

p {
  position: absolute;
  text-align: left;
  word-wrap: break-word;
  font: arial;
  font-size: 20px;
  color: white;
}

ol {
  position: absolute;
  font: arial;
  font-size: 20px;
  color: white;
}

#options {
  text-align: left;
  top: 150px;
  left: 5px;
}

#textbox {
  width: 400px;
  top: 30px;
  left: 5px;
}

#gold {
  font: arial;
  font-size: 30px;
  color: gold;
  top: 50px;
  left: 500px;
}

#gameOver {
  text-align: center;
  color: red;
  font-size: 40px;
  top: 300px;
  left: 500px;
}

#scoreBoard {
  text-align: left;
  color: red;
  font-size: 20px;
  top: 400px;
  left: 500px;
}

/*cA {
  position: absolute;
  text-align: left;
  top: 150px;
  left: 5px;
  font: arial;
  font-size: 20px;
  color: white;
}

cB {
  position: absolute;
  text-align: left;
  top: 180px;
  left: 5px;
  font: arial;
  font-size: 20px;
  color: white;
}

cC {
  position: absolute;
  text-align: left;
  top: 210px;
  left: 5px;
  font: arial;
  font-size: 20px;
  color: white;
}*/
